:root,
:host {
  --color-background:#2D3142;
  --color-background-offset:#BFC0C0; 
  --color-background-offset-2:#4F5D75; 
  --color-brand:#e5e5e5; 
  --color-info:#8f8f8f; 
  --color-warning:#EE6C4D; 
  --color-success:#4F5D75; 
  --color-error:#ff5e5b; 
  --color-text:#ffffff; 
  --color-quiet:#81a0b1; 
  --color-text-brand:#2D3142; 
  --color-text-info:#2D3142; 
  --color-text-warning:#FFFFFF; 
  --color-text-success:#FFFFFF; 
  --color-text-error:#FFFFFF; 
  --border-color:#2D3142; 
  --calendar-background:#BFC0C0; 
  --calendar-control-color:#2D3142; 
  --calendar-control-background:#b1b2b9; 
  --calendar-control-color--date:#4F5D75; 
  --calendar-control-color--in-month:#BFC0C0; 
  --calendar-control-background--in-month:#4F5D75; 
  --calendar-control-background--date:#7183a2; 
  --calendar-control-color--current:#3b3352; 
  --calendar-control-background--current:#2D3142; 
  --calendar-control-border-color--current:#2D3142; 
  --calendar-control-color--hover:#BFC0C0; 
  --calendar-control-background--hover:#2D3142; 
  --calendar-control-color--selected:#2D3142; 
  --calendar-control-border-color--selected:#2D3142; 
  --card-background:#BFC0C0; 
  --card-item-color:#4F5D75; 
  --card-item-color--divider:#ffffff; 
  --card-item-background--divider:#4F5D75; 
  --alert-background--brand:#e5e5e5; 
  --badge-background--brand:#e5e5e5; 
  --button-background--brand:#e5e5e5; 
  --card-item-background--brand:#e5e5e5; 
  --tab-heading-background--brand:#BFC0C0; 
  --toggle-track-color--brand:#b1a9a9; 
  --alert-background--info:#8f8f8f; 
  --badge-background--info:#8f8f8f; 
  --button-background--info:#8f8f8f; 
  --button-color--info-ghost-hover:#8f8f8f; 
  --badge-border-color--info-ghost:#8f8f8f; 
  --badge-border-color--brand-ghost:#e5e5e5; 
  --button-color--brand-ghost-hover:#e5e5e5; 
  --card-item-background--info:#BFC0C0; 
  --divider-color:#8f8f8f; 
  --pagination-color:#BFC0C0; 
  --progress-bar-background--info:#939595; 
  --range-track-color--info:#8f8f8f; 
  --tab-heading-background--info:#BFC0C0; 
  --tab-heading-border-color--info:#8f8f8f; 
  --toggle-track-color--info:#8f8f8f; 
  --card-control-background--menu:#8f8f8f; 
  --card-menu-border:0; 
  --file-upload-background:#8f8f8f; 
  --field-background:#8f8f8f; 
  --field-color:#ffffff; 
  --field-border:0; 
  --table-caption-color:#EF8354; 
  --table-heading-background:#7d442c; 
  --table-heading-border:#b92222; 
  --table-row-color--clickable:#EF8354; 
  --table-row-background--clickable:#3f445a; 
  --table-striped-background:#3f445a; 
  --table-row-color--disabled:#808080; 
  --tab-heading-border-color--brand:#aeadad; 
  --tab-heading-color--active:#2D3142; 
  --tab-heading-color--brand:#2D3142; 
  --tab-heading-color--info:#2D3142; 
  --tab-heading-color--warning:#2D3142; 
  --tab-heading-color--success:#2D3142; 
  --tab-heading-color--error:#2D3142; 
  --tab-heading-background--active:#BFC0C0; 
  --tab-heading-background--hover:#BFC0C0; 
  --tab-heading-background--warning:#BFC0C0; 
  --tab-heading-background--success:#BFC0C0; 
  --tab-heading-background--error:#BFC0C0; 
  --tooltip-background:#3d4257; 
  --tooltip-color:#EF8354; 
  --tree-item-color:#fca311; 
  --tree-item-expandable-color:#EF8354; 
  --tree-item-expanded-color:#fca311; 
  --link-color:#62929e; 
  --typography-highlight-color:#2D3142; 
  --typography-highlight-background:#EF8354;
}