@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Monitorica", sans-serif;
    background: #001219;
}

.logo {
    background: #001219;
    widows: 100%;
    display: flex;
    justify-content: center;
}

.img_logo {
    padding: 5px;
    max-width: 100%;
    box-sizing: border-box;
}

nav {
  background: #001219;
  box-shadow: 0 1px 0 0 #005F73;
  border-top: 1px solid #005F73;
  text-align: center;
}
nav a {
  text-decoration: none;
  display: block;
  transition: .3s linear;
}
ul {
   list-style: none;
}

.topmenu {
   background: #001219;
}

.topmenu a {
   text-decoration: none;
   display: block;
   transition: .4s ease-in-out;
}

.topmenu>li>a {
   padding: 20px;
   color: skyblue;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 1px;
   font-size: 22px;
   font-family: 'MADE Evolve Sans EVO', sans-serif;
}

.topmenu li a:hover {
   color: #94d2bd;
}

.submenu li a {
    border-bottom: 1px solid #0a9396;
    font-size: 18px;
    color: #001219;
    font-weight: bold;
    font-family: 'MADE Evolve Sans EVO', bold;
}

.submenu li a:hover{
    background-color: #001219;
    color: skyblue;
}
/*
.sidebar {
    height: 200px;
    width: 150px;
    position: -webkit-sticky; /* for Safari users */
    position: sticky;
    top: 0px;
    float: right;
    right: 8px;/*
    margin-top: 100px;
    padding-top: 40px;
    background-color: #0a9396;
}*/

/*.sidebar div {
    padding: 3px;
    color: #001219;
    text-align: left;
    font-size: 18px;
    display: block;
}
*/
p {
    color: white;
}

.start {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 40px;
    margin-right: 40px;
    color: #E9D8A6;
    font-weight: bold;
    font-family: "LIBRARY 3 AM", sans-serif;
    font-size: 40px;
    text-align: center;
}

.text-home-page p {
    color: lightskyblue;
    font-family: "Durik", sans-serif;
    font-size: 25px;
}

.text-home-page {
    box-sizing: border-box;
    outline: 0;
    color: lightskyblue;
    font-family: "Durik", sans-serif;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

iframe {
    justify-content: center;
}