@media (max-width: 599px) {
   .topmenu>li>a {
      padding: 15px 20px;
      border-bottom: 2px solid skyblue;
   }
   .submenu li a {
      padding: 10px 20px;
      margin: 0 20px;
      color: #94d2bd;
   }
   .topmenu li a:hover{
      background: #94d2bd;
      color: #001219;
   }
   .submenu li a:hover{
      background: #0a9396;
      color: whitesmoke;
   }
   .text-home-page {
      margin: 10px;
   }
   .bullet {
       margin-top: 20px;
       margin-bottom: 20px;
       margin-left: 5px;
       margin-right: 5px;
   }
   .bullet li {
       margin-top: 20px;
       margin-bottom: 20px;
       margin-left: 0px;
       margin-right: 0px;
   } 
   .border {
       margin-top: 20px;
       margin-bottom: 20px;
       margin-left: 5px;
       margin-right: 5px;
   }
   .border li {
       margin-top: 20px;
       margin-bottom: 20px;
       margin-left: 0px;
       margin-right: 0px;
   } 
   .img-wrapper{
      width: 80vw;
   }
   .img-wrapper:hover{
      opacity: 1;
      transform: none; 
   }
}

@media(min-width: 600px) {
   .topmenu {
      width: 100%;
      display: flex;
      justify-content: center;
   }
   .topmenu>li {
      position: relative;
   }
   .topmenu>li:after {
      content: "";
      position: absolute;
      right: 0;
      width: 1px;
      height: 12px;
      background: #d2d2d2;
      top: 24px;
      box-shadow: 4px -2px 0 #d2d2d2;
      transform: rotate(30deg);
   }
   .topmenu>li:last-child:after {
      background: none;
      box-shadow: none;
   }
   .submenu {
      position: absolute;
      left: 50%;
      top: 100%;
      width: 210px;
      margin-left: -105px;
      background: #fafafa;
      border: 1px solid #ededed;
      z-index: 5;
      visibility: hidden;
      opacity: 0;
      transform: scale(.8);
      transition: .4s ease-in-out;
   }
   .topmenu>li:hover .submenu {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
   }
   .submenu li a {
      text-align: center;
      padding: 10px 0;
      margin: 0 10px;
   }
   .text-home-page {
      margin: 25px;
   }
   .bullet {
       margin-top: 20px;
       margin-bottom: 20px;
       margin-left: 35px;
       margin-right: 35px;
   }
   .bullet li {
       margin-top: 20px;
       margin-bottom: 20px;
       margin-left: 0px;
       margin-right: 0px;
   }
   .bullet2 {
       margin-top: 20px;
       margin-bottom: 20px;
       margin-left: 35px;
       margin-right: 35px;
   }
   .bullet2 li {
       margin-top: 20px;
       margin-bottom: 20px;
       margin-left: 0px;
       margin-right: 0px;
   }
   .border {
       margin-top: 20px;
       margin-bottom: 20px;
       margin-left: 50px;
       margin-right: 50px;
   }
   .border li {
       margin-top: 20px;
       margin-bottom: 20px;
       margin-left: 0px;
       margin-right: 0px;
   }
   .img-wrapper{
      width: 90vw;
   }
   .img-wrapper:hover{
      opacity: 1;
      transform: scale(1.025); 
   }
}

@media (min-width: 1220px) {
   .bullet {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 35px;
      margin-right: 35px;
   }
   .bullet li {
       margin-top: 20px;
       margin-bottom: 20px;
       margin-left: 0px;
       margin-right: 0px;
   }
   .bullet2 {
       margin-top: 20px;
       margin-bottom: 20px;
       margin-left: 35px;
       margin-right: 35px;
   }
   .bullet2 li {
       margin-top: 20px;
       margin-bottom: 20px;
       margin-left: 0px;
       margin-right: 0px;
   }
   .border {
       margin-top: 20px;
       margin-bottom: 20px;
       margin-left: 220px;
       margin-right: 220px;
   }
   .border li {
       margin-top: 20px;
       margin-bottom: 20px;
       margin-left: 0px;
       margin-right: 0px;
   }
   .img-wrapper{
      width: 80vw;
   }
   .img_link:hover{
      opacity: 1;
      transform: scale(1.125); 
   }
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

@media all and (max-width:  768px){
   .img-wrapper{
      width: 90vw;
   }
   .img_link{
      margin: 5px 0;
   }
   .img_link:hover{
      opacity: 1;
   }
}
@media all and (min-width: 1200px){
    transform: scale(1.2); 
}